.header {
  position: relative;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($light-blue, .8),
                  rgba($cool-blue, .8)),
  url("../../assets/images/sb.jpg");
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
}

.services {
  color: #fff;
  text-align: center;
  letter-spacing: 1.2rem;
  font-size: 3rem;
  margin-bottom: 11rem;
  padding-top: 10rem;

}


.icon-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;


  .icon {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 10rem;
    height: 10rem;
    margin: 4rem;
    position: relative;
    display: flex;

    transition: all .3s;

    &:hover {
      transform: translateY(-1rem);
    }

    &__logo {
      fill: #fff;
      height: 5rem;
      width: 5rem;
      position: absolute;
      top: 2.25rem; right: 2.25rem;
    }
    .icon-text {
      color: #fff;
      font-size: 1.8rem;
      position: absolute;
      top: 12rem;
      width: 13rem;
      align-self: center;
    }


  }
}