<footer class="footer">
    <div class="icon">
        <svg class="icon__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-home"></use>
        </svg>
        <p class="icon__text">Perfection Painting</p>
        <p class="icon__text--small">Santa Barbara, California</p>
        <p class="icon__text--small">Established 1980</p>
    </div>

    <div class="info-container">
        <div class="info">
            <svg class="info__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-phone"></use>
            </svg>
            <h1 class="info__primary">Call</h1>
            <a class="info__secondary" href="tel://805-895-8584">805.895.8584</a>
        </div>
        <div class="info">
            <svg class="info__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-voicemail"></use>
            </svg>
            <h1 class="info__primary">Voice message</h1>
            <a class="info__secondary" href="tel://805-569-1689">805.569.1689</a>
        </div>
        <div class="info">
            <svg class="info__icon">
                <use xlink:href="../assets/images/sprite2.svg#icon-envelop"></use>
            </svg>
            <h1 class="info__primary">Email</h1>
            <a href="mailto:hello@perfectionpaintingsb.com" class="info__secondary">hello@perfectionpaintingsb.com</a>
        </div>
        <div class="info">
            <svg class="info__icon">
                <use xlink:href="../assets/images/sprite.svg#icon-location"></use>
            </svg>
            <h1 class="info__primary">Location</h1>
            <a href="#0" class="info__secondary">View on map</a>
        </div>
    </div>

    <p class="credits">Credits</p>
</footer>