<footer class="footer"id="contact">
    <div class="icon">
        <svg class="icon__logo">
            <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-home"></use>
        </svg>
        <p class="icon__text">Perfection Painting</p>
        <p class="icon__text--small">Santa Barbara, California</p>
        <p class="icon__text--small">Since 1985</p>
    </div>

    <div class="info-container">
        <div class="info">
            <p class="info__primary u-margin-left-neg">Call</p>
            <svg class="info__icon">
                <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-phone"></use>
            </svg>
            <a class="info__secondary" href="tel://805-895-8584">805.895.8584</a>
        </div>

        <div class="info">
            <p class="info__primary">Email</p>
            <svg class="info__icon">
                <use xlink:href="{{ site.baseurl }}/assets/images/sprite2.svg#icon-envelop"></use>
            </svg>
            <a href="mailto:paulmoore805@gmail.com" class="info__secondary">paulmoore805@gmail.com</a>
        </div>

        <div class="info">
            <p class="info__primary">Voice message</p>
            <svg class="info__icon">
                <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-voicemail"></use>
            </svg>
            <a class="info__secondary" href="tel://805-569-1689">805.569.1689</a>
        </div>

        <!--<div class="info">-->
            <!--<p class="info__primary">Location</p>-->
            <!--<svg class="info__icon">-->
                <!--<use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-location"></use>-->
            <!--</svg>-->
            <!--<a href="#0" class="info__secondary">View on map</a>-->
        <!--</div>-->


    </div>

<!--    <p class="credits">Credits</p>-->
</footer>