<footer class="footer">
    <div class="icon">
        <svg class="icon__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-home"></use>
        </svg>
        <p class="icon__text">Perfection Painting</p>
        <p class="icon__text--small">Santa Barbara, California</p>
        <p class="icon__text--small">Established 1980</p>
    </div>

    <!--<div class="info">-->
        <!--<h1 class="info__contact">Call 805.895.8584</h1>-->
        <!--<h1 class="info__contact">to leave a voice message for a callback call 805.569.1689</h1>-->
    <!--</div>-->

    <div class="info-flex">
        <div class="info-container">
            <div class="info">
                <svg class="info__icon">
                    <use xlink:href="../assets/images/sprite.svg#icon-phone"></use>
                </svg>
                <h1 class="info__primary">Call</h1>
                <p class="info__secondary">805.895.8584</p>
            </div>
            <div class="info">
                <svg class="info__icon">
                    <use xlink:href="../assets/images/sprite.svg#icon-voicemail"></use>
                </svg>
                <h1 class="info__primary">Voice message</h1>
                <p class="info__secondary">805.569.1689</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info">
                <svg class="info__icon">
                    <use xlink:href="../assets/images/sprite2.svg#icon-envelop"></use>
                </svg>
                <h1 class="info__primary">Email</h1>
                <a href="mailto:truepaul@cox.net" class="info__secondary">truepaul@cox.net</a>
            </div>
            <div class="info">
                <svg class="info__icon">
                    <use xlink:href="../assets/images/sprite.svg#icon-location"></use>
                </svg>
                <h1 class="info__primary">Location</h1>
                <a href="#0" class="info__secondary">View on map</a>
            </div>
        </div>
    </div>
    <p class="developer">Website Designed and Developed by Sierra Moore</p>
</footer>