
<section class="form-section">
    <h1 class="estimate">Request an Estimate</h1>
<div class="form-container" id="form-container">
    <form action="" class="form" name="contact">
        <div class="form__item">
            <div class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-user"></use>
                </svg>
            </div>
            <label for="name" class="form__item">
                <input type="text" name="name" class="form__input" placeholder="Full name">
            </label>
        </div>

        <div class="form__item">
            <div class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-location"></use>
                </svg>
            </div>
            <label for="location" class="form__item">
                <input type="text" class="form__input" name="address" placeholder="Address of property">
            </label>
        </div>

        <div class="form__item">
            <div class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-phone"></use>
                </svg>
            </div>
            <label for="phone" class="form__item">
                <input type="number" class="form__input" name="phone" placeholder="Phone">
            </label>

        </div>


        <div class="form__item">
            <div class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite2.svg#icon-envelop"></use>
                </svg>
            </div>
            <label for="email" class="form__item">
                <input type="text" class="form__input" name="email" placeholder="Email">
            </label>
        </div>

        <div class="form__item form__item--aside">
            <label for="project" class="form__label--aside">
                <svg class="form__logo form__logo--aside">
                    <use xlink:href="../assets/images/sprite.svg#icon-clipboard"></use>
                </svg>
                <!--            <input type="text" class="form__input form__input&#45;&#45;aside" name="project" placeholder="Project details">-->

                <textarea placeholder="Project details" cols="46" rows="12" name="project"></textarea>
            </label>
        </div>

        <button class="btn" type="submit" id="submit-form">Send</button>
    </form>
</div>



    <div id="contact"></div>
</section>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script>

    // contact form to google spreadsheet //
    const scriptURL = "https://script.google.com/macros/s/AKfycbw_BUeeFpf62b48ONCcMBlYEFQrci34nn149yIatleZkm3U6fs/exec";
    const form = document.forms['contact'];
    form.addEventListener('submit', e => {
        e.preventDefault();
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => console.log('Success!', response))
    .catch(error => console.error('Error!', error.message))
    });


    const formContainer =document.getElementById('form-container');
    const btnClick =document.getElementById('submit-form');

    btnClick.onclick = () => {
        btnClick.innerText = "Thank  you";
    };
</script>