<section class="form-container">
    <h1 class="estimate">Request an Estimate</h1>

    <form action="" class="form">
        <svg class="form__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-user"></use>
        </svg>
        <input type="text" class="form__item" placeholder="Full name">

        <svg class="form__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-location"></use>
        </svg>
        <input type="text" class="form__item" placeholder="Location of property">

        <svg class="form__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-phone"></use>
        </svg>
        <input type="text" class="form__item" placeholder="Phone">

        <svg class="form__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-envelop"></use>
        </svg>
        <input type="text" class="form__item" placeholder="Email">

        <svg class="form__logo">
            <use xlink:href="../assets/images/sprite.svg#icon-clipboard"></use>
        </svg>
        <input type="text" class="form__item" placeholder="Project details">

    </form>
</section>