
<section class="form-section">
    <h1 class="estimate">Request an Estimate</h1>
<div class="form-container">
    <form action="" class="form">
        <div class="form__item">
            <label for="name" class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-user"></use>
                </svg>
            </label>
            <input type="text" name="name" class="form__input" placeholder="Full name">
        </div>

        <div class="form__item">
            <label for="location" class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-location"></use>
                </svg>
            </label>
                <input type="text" class="form__input" name="location" placeholder="Address of property">
        </div>

        <div class="form__item">
            <label for="phone" class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-phone"></use>
                </svg>
            </label>
            <input type="number" class="form__input" name="phone" placeholder="Phone">
        </div>


        <div class="form__item">
            <label for="email" class="form__label">
                <svg class="form__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite2.svg#icon-envelop"></use>
                </svg>
            </label>
            <input type="text" class="form__input" name="email" placeholder="Email">
        </div>

    </form>


    <div class="form__item form__item--aside">
        <label for="project" class="form__label--aside">
            <svg class="form__logo form__logo--aside">
                <use xlink:href="../assets/images/sprite.svg#icon-clipboard"></use>
            </svg>
            <input type="text" class="form__input form__input--aside" name="project" placeholder="Project details">
        </label>
    </div>

</div>


    <button class="btn">Send</button>

    <div id="contact"></div>
</section>