<section class="gallery">
    <h1 class="portfolio">Portfolio</h1>

    <div class="img-container">

        <div class="image image__prev">
            <img src="{{ site.baseurl }}/assets/images/homes/zoo_2.jpeg" alt="" class="image__item image__item--1">
            <span class="image__heading">SB Zoo</span>
        </div>

        <div class="image image__center">
            <img src="{{ site.baseurl }}/assets/images/homes/MAW_hall.jpg" alt="" class="image__item image__item--2">
            <span class="image__heading">Music Academy of the West</span>
        </div>

        <div class="image image__next">
            <img src="{{ site.baseurl }}/assets/images/homes/birnam_wood_2.jpg" alt="" class="image__item image__item--3">
            <span class="image__heading">Birnam Woods</span>
        </div>
    </div>

    <div id="testimonials"></div>
</section>