<section class="gallery">
    <h1 class="portfolio">Portfolio</h1>

    <div class="img-container">
        <div class="image image__prev">
            <img src="../assets/images/music2.jpg" alt="" class="image__item image__item--1">
            <span class="image__heading">Music Academy of the West</span>
        </div>

        <div class="image image__center">
            <img src="../assets/images/bacara2.jpg" alt="" class="image__item image__item--2">
            <span class="image__heading">Bacara</span>
        </div>

        <div class="image image__next">
            <img src="../assets/images/museum2.jpg" alt="" class="image__item image__item--3">
            <span class="image__heading">Museum of Natural History</span>
        </div>

    </div>
</section>