<header class="header">
    <h1 class="services">Our Services</h1>

        <ul class="icon-container">
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-home"></use>
                </svg>
                <p class="icon-text">Residential</p>
            </li>
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-office"></use>
                </svg>
                <p class="icon-text">Commercial</p>
            </li>
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-colours"></use>
                </svg>
                <p class="icon-text">Color Matching</p>
            </li>
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite2.svg#icon-brush"></use>
                </svg>
                <p class="icon-text">Touch-ups</p>
            </li>
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-paint-format"></use>
                </svg>
                <p class="icon-text">Wood Finish</p>
            </li>
            <li class="icon">
                <svg class="icon__logo">
                    <use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-hammer"></use>
                </svg>
                <p class="icon-text">Wall Repair</p>
            </li>
        </ul>
</header>
