

<!--<nav class="nav">-->
    <!--<ul class="nav__list">-->
        <!--<li class="nav__item&#45;&#45;logo">-->
            <!--<svg class="nav__item&#45;&#45;logo">-->
                <!--<use xlink:href="../assets/images/sprite.svg#icon-home"></use>-->
            <!--</svg>-->
        <!--</li>-->
        <!--<li class="nav__item">Contact</li>-->
        <!--<li class="nav__item">Testimonials</li>-->
        <!--<li class="nav__item">Request Estimate</li>-->
    <!--</ul>-->
<!--</nav>-->

<nav class="sidebar">
    <ul class="side-nav">
        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <svg class="nav__item--logo">
                <use xlink:href="../assets/images/sprite.svg#icon-home"></use>
                </svg>
            </a>
        </li>

        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <span class>Contact</span>
            </a>
        </li>

        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <span>Testimonials</span>
            </a>
        </li>

        <li class="side-nav__item">
            <a href="#" class="side-nav__link">
                <span>Request Estimate</span>
            </a>
        </li>
    </ul>
</nav>