
<ul class="side-nav">
    <li class="side-nav__item side-nav__item--logo">
        <a href="#" class="side-nav__link">
            <svg class="nav__item--logo"><use xlink:href="{{ site.baseurl }}/assets/images/sprite.svg#icon-home"></use>
            </svg>
            <span class="co-name u-margin-left-small">Perfection Painting</span>
        </a>
    </li>
    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
            <span class>Contact</span>
        </a>
    </li>
    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
            <span>Testimonials</span>
        </a>
    </li>
    <li class="side-nav__item">
        <a href="#" class="side-nav__link">
            <span>Request Estimate</span>
        </a>
    </li>
</ul>