
<section class="testimonials">
    <h1 class="clients">Testimonials</h1>
    <div class="card-row">
    <div class="card">
        <div class="card__text">
            I have hired Paul Moore and his company to paint various locations including The Music Academy of the West, Ritz-Carlton Bacara, and Direct Relief. He and his team are amazing and are a very talented  group of individuals who always maintain the highest level of professionalism and friendliness. He has always strived to keep my projects on time, and at or under budget while providing absolutely great results.
        </div>
        <div class="card__user">
<!--            <img src="{{ site.baseurl }}/assets/images/user-3.jpg" class="card__user__img u-margin-right-small">-->
            <div class="card__col">
                <h1 class="card__user__name">Jim Pettit</h1>
                <h2 class="card__user__co">Direct Relief International</h2>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__text">
            I have worked with Paul Moore on numerous projects over the past 10 years. There is no one I can rely on more than Paul to <br>
            &nbsp;&nbsp; 1. Do an excellent job on the painting, and <br>
            &nbsp;&nbsp; 2. Complete the job on time and on budget. <br>We have worked on commercial projects, office remodel spaces, personal residences, and nonprofit new construction projects. You can rely on Paul to be cheerful, positive attitude, do an excellent job, and stand behind his work.
        </div>
        <div class="card__user">
<!--            <img src="{{ site.baseurl }}/assets/images/user-2.jpg" class="card__user__img">-->
            <div class="card__col">
                <h1 class="card__user__name">Kandy Luria-Budgor</h1>
                <h2 class="card__user__co">Luria Developments</h2>
            </div>
        </div>
    </div>
    </div>
</section>