
<section class="testimonials">
    <h1 class="clients">Testimonials</h1>
    <div class="card-row">
    <div class="card">
        <div class="card__text">
            Lorem ipsum dolor sit amet, cons adipisicing elit. A aliquid to the as autem and lorem dignissimos esse est, ex expedita facilis libero magnam minus nam officiis perspiciatis.
        </div>
        <div class="card__user">
            <img src="../assets/images/user-3.jpg" class="card__user__img u-margin-right-small">
            <div class="card__col">
                <h1 class="card__user__name">Bob Smith</h1>
                <h2 class="card__user__co">Bacara</h2>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__text">
            Lorem ipsum dolor sit amet, cons adipisicing elit. A aliquid to the as autem and lorem dignissimos esse est, ex expedita facilis libero magnam minus nam officiis perspiciatis.
        </div>
        <div class="card__user">
            <img src="../assets/images/user-2.jpg" class="card__user__img">
            <div class="card__col">
                <h1 class="card__user__name">Mary Johnson</h1>
                <h2 class="card__user__co">Museum of Natural History</h2>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card__text">
            Lorem ipsum dolor sit amet, cons adipisicing elit. A aliquid to the as autem and lorem dignissimos esse est, ex expedita facilis libero magnam minus nam officiis perspiciatis.
        </div>
        <div class="card__user">
            <img src="../assets/images/user-5.jpg" class="card__user__img">
            <div class="card__col">
                <h1 class="card__user__name">Adam Clark</h1>
                <h2 class="card__user__co">Music Academy of the West</h2>
            </div>
        </div>
    </div>
    </div>
</section>