.footer {
  background-image: linear-gradient(
                  to bottom,
                  rgba($light-blue, .8),
                  rgba($cool-blue, .8)),
  url("../../assets/images/beach2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 40rem;
  padding-bottom: 2rem;


  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;

    &__logo {
      margin-top: 3rem;
      height: 8rem;
      width: 8rem;
      fill: white;
      align-self: center;
      border-radius: 50%;
    }

    &__text {
      color: white;
      font-size: 2.1rem;
      text-align: center;
      letter-spacing: 2px;
      font-weight: bold;

      &--small {
        font-size: 1.4rem;
        text-align: center;
        color: white;
      }
    }
  }
    .info-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: white;
        text-align: center;
        margin: 2rem 2rem 3.5rem 2rem;

        @media screen and (min-width: 1000px) {
          margin: 3rem 4rem;
        }

        &__icon {
          align-self: center;
          width: 3.75rem;
          height: 3.75rem;
          fill: white;
          margin-bottom: 1.5rem;

          transition: all .7s;

          &:hover {
            fill: $light-blue;
          }
        }

        &__primary {
          font-size: 1.6rem;
          letter-spacing: 1px;
          font-weight: bold;
          margin-bottom: 1.4rem;
        }

        &__secondary {
          font-size: 2rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

.credits {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
  transition: all .7s;

  &:hover {
    color: $light-blue;
    font-size: 1.6rem;
    box-shadow: 0 2rem 3rem rgba(black, .2);
  }
}

//remove arrow for type number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}