.footer {
  background-image: linear-gradient(
                  to bottom,
                  rgba($light-blue, .8),
                  rgba($cool-blue, .8)),
  url("../../assets/images/beach2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 40rem;

  //display: flex;
  //justify-content: center;

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
      margin: 5rem auto 0 auto;
      height: 8rem;
      width: 8rem;
      fill: white;
    }

    &__text {
      color: white;
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 2px;
      font-weight: bold;

      &--small {
        font-size: 1.4rem;
        text-align: center;
        color: white;
      }
    }
  }


    .info-container {
      display: flex;
      justify-content: space-around;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: white;
        text-align: center;
        margin-bottom: 3.5rem;

        &__icon {
          align-self: center;
          width: 3.75rem;
          height: 3.75rem;
          fill: white;
          margin-bottom: 1.5rem;

          transition: all .7s;

          &:hover {
            fill: $light-blue;
          }
        }

        &__primary {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: .5rem;
        }

        &__secondary {
          font-size: 2rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

.credits {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  transition: all .7s;
  &:hover {
    color: $light-blue;
    font-size: 1.6rem;
    box-shadow: 0 2rem 3rem rgba(black, .2);
  }
}