.estimate {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2rem;
  color: $cool-blue;
  margin: 8rem auto 4rem auto;
}

.btn {
  width: 20rem;
  padding: 1.6rem 2rem;
  background-color: rgba($light-blue, .7);
  border: 1px solid $light-blue;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: $cool-blue;
  font-family: inherit;

  &:hover {
    background-color: rgba($light-blue, 1);
  }

}
.form-section {
  background-image: url("../../assets/images/wood.jpg");
  background-size: cover;
  //opacity: .6;
  z-index: -1;
  height: 63rem;
  padding-top: 5rem;
  margin-top: -10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  margin:  3rem auto 0 auto;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem 4rem 0;
    align-self: center;


    &__item {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: .2rem;

      opacity: 1;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &--aside {
        align-self: flex-start;
      }
    }

    &__input {
      width: 25rem;
      outline: none;
      padding-left: 1rem;
      border-left: none;
      border-right: 1px solid #b4b7bb;
      border-bottom: 1px solid #b4b7bb;
      border-top: 1px solid #b4b7bb;
      border-radius: 3px;

      &:focus {
        box-shadow: 0 2rem 3rem rgba(black, .1);
      }

      &--aside {
        width: 25rem;
        height: 20rem;
        border:1px solid #b4b7bb;
        text-align: center;
      }
    }

    &__label {
      background-color: $light-blue;
      width: 6rem;
      padding: 1rem;
      align-self: center;
      border-radius: 3px;

      &--aside {
        background-color: $light-blue;
        width: 25rem;
        align-self: center;
        border-radius: 3px;
      }
    }

    &__logo {
      width: 2rem;
      height: 2rem;
      fill: $cool-blue;

      &--aside {
        align-self: center;
        margin: .7rem auto;
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}

// TODO text wrap and begin at top for aside and submit button