.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15rem;

  @include respond(xl-phone) {
    margin-bottom: 8rem;
  }

  .portfolio {
    font-size: 3rem;
    color: $cool-blue;
    text-align: center;
    margin: 5rem auto;
  }

  .img-container {
    display: flex;
    justify-content: center;
    position: relative;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
      }
    }

    .image {
      position: relative;
      display: flex;

      &__item {
        width: auto;
        height: 20rem;
        box-shadow: 0 2rem 3rem rgba(black, .2);
        border-radius: 3px;
        -webkit-box-reflect: below -1px
        -webkit-gradient(linear, left top, left bottom, from(transparent),
                        color-stop(67%, transparent), to(rgba(250, 250, 250, 0.5)));

        &--1 {
          background-position: top;
        }

        @include respond(tab-port) {
          -webkit-box-reflect: unset;
        }
      }



      &__center {
        position: relative;
        z-index: 1;
        border: 1rem solid white;
        transform: translateY(-6%);
      }

      &__prev {
        //transform: translateX(-90%);
      }

      &__next {
        //transform: translateX(90%);
      }


      &__heading {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        padding-right: 1rem;
        color: white;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to right,
                        rgba($cool-blue, .8),
                        rgba($light-blue, .8));
        width: 100%;
        height: 3.5rem;
        padding-top: .5rem;
      }
    }


  }
}