.nav {
  &__item {
    &--logo {
      fill: #fff;
      height: 2.25rem;
      width: 2.25rem;
    }
  }
}
.colorWheel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.side-nav {
  position: sticky;
  top: 0;
  z-index: 999;
  //opacity: .8;
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  height: 8rem;
  background-color: $cool-blue;

  &__item {
    position: relative;
    align-self: center;
    justify-items: center;
    height: 100%;

    @media screen and (max-width: 650px) {
      &:not(:first-child) {
        display: none;
      }
    }

    &--logo {
      margin-right: auto;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 3px;
    background-color: $light-blue;
    transform: scaleY(0);
    transition: transform .2s,
    width .4s cubic-bezier(1,0,0,1) .2s,
    background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $light-blue;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 1;
    text-decoration: none;
    padding: 1.5rem 3rem;
    color: #fff;
    height: 100%;

    display: flex;
    align-items: center;
    align-content: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
  }

}

.co-name {
  font-size: 2.5rem;
}